<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须为指定的Mapper接口的地址  -->
<mapper namespace="com.rains.ssm.dao.EmpMapper">

	<!-- id:对应的是接口中的方法名;返回值类型为对应pojo(dao)的类 -->
	<select id="queryAll" resultType="emp">
		<!-- 需要映射的SQL语句 -->
		select * from emp
	</select>
	
	<!-- 添加用户 -->
	<insert id="addEmp" parameterType="emp">
		insert into emp values
		(#{u_password},#{u_name},#{u_sex})
	</insert>
	<!-- 删除用户 -->
	<delete id="deleteEmp" parameterType="int">
		delete from emp where u_id=#{u_id}
	</delete>
	<!-- 根据id更新用户 -->
	<update id="updateEmp" parameterType="emp">
		 update emp set 
		 u_password=#{u_password},
		 u_name=#{u_name},
		 u_sex=#{u_sex} 
		 where u_id=#{u_id}  
	</update>
</mapper>